sticker {

  .stickStyle{
    position: absolute;
    top: 5px;
    left: 7px;
    background: transparent;
    z-index: 2;
  }

  .sticker1{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/1sticker.png);
  }
  .sticker2{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/2sticker.png);
  }
  .sticker3{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/3sticker.png);
  }
  .sticker4{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/4sticker.png);
  }
  .sticker5{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/5sticker.png);
  }
  .sticker6{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/6sticker.png);
  }
  .sticker7{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/7sticker.png);
  }
  .sticker8{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/8sticker.png);
  }
  .sticker9{
    width: 30px;
    height: 30px;
    background-image: url(../../assets/images/stickers/9sticker.png);
  }

}
