<ion-header>
  <ion-navbar>
    <header-logo text="Publicación" instructions="Gestiona y revoca permisos"></header-logo>
  </ion-navbar>
</ion-header>

<ion-content>
  <div no-margin no-padding>
    <ion-segment [(ngModel)]="source">
      <ion-segment-button value="propias">
        Propias
      </ion-segment-button>
      <ion-segment-button value="recibidas">
        Recibidas
      </ion-segment-button>

    </ion-segment>
  </div>

  <div [ngSwitch]="source">
    <ion-grid *ngSwitchCase="'recibidas'">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let photo of recibidas">
          <div class="image-container" [style.background-image]="'url('+photo.src+')'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="images" *ngSwitchCase="'propias'">
      <div class="one-image" *ngFor="let photo of shown">
        <img src="{{photo.remoteSrc}}">
      </div>
    </div>
  </div>



</ion-content>
