<!-- Generated template for the PhotoShareComponent component -->
<div text-center class="shared-buttons">
  <p>{{title}}:</p>
  <button ion-button clear icon-only (click)="change('facebook')"><ion-icon name="logo-facebook" item-start [color]="facebook"></ion-icon></button>
  <button ion-button clear icon-only (click)="change('twitter')"><ion-icon name="logo-twitter" item-start [color]="twitter"></ion-icon></button>
  <button ion-button clear icon-only (click)="change('web')"><ion-icon name="globe" item-start [color]="web"></ion-icon></button>
  <button ion-button clear icon-only (click)="change('instagram')"><ion-icon name="logo-instagram" [color]="instagram" item-start ></ion-icon></button>
</div>
