<!-- Generated template for the PhotoInfoComponent component -->
<div style="margin-top: 8px;" class="card-details-title" text-left>Responsable de los datos/imagen <ion-icon name="add-circle" color="primary"></ion-icon></div>
<div class="card-details" text-left>{{image.sender}}</div>
<div class="card-details-title" text-left>Finalidad <ion-icon name="add-circle" color="primary"></ion-icon></div>
<div class="card-details" text-wrap >Tratamiento de imágenes (captación y publicación)</div>
<div class="card-details-title" text-wrap>Legitimación <ion-icon name="add-circle" color="primary" text-right></ion-icon></div>
<div class="card-details" text-wrap>Consentimiento del Interesado</div>
<div class="card-details-title" text-wrap>Destinatario <ion-icon name="add-circle" color="primary" text-right></ion-icon></div>
<div class="card-details" text-wrap>El responsable del tratamiento publicará la imagen en las redes sociales autorizadas.</div>
<div class="card-details-title" text-wrap>Derechos <ion-icon name="add-circle" color="primary" text-right></ion-icon></div>
<div class="card-details" text-wrap>Derecho a acceder, rectificar y suprimir los datos (imagen) así como otros derechos tal y como se explica en la información adicional.</div>


