header-logo {

  .image{
    float : left;
    top: 15px;
    left: 10px;
  }

  .header{
    font-size: large;
    color: white;
    font-weight: 600;
    overflow: hidden;
    padding-top: 6px;

    p{
      margin-top: 2px;
      font-size: small;
      color: #ddd;
    }
  }



}
